/*
********* SMALL *********
*/

@media screen and (min-width: 576px){

    .sidebar{
        width: 15rem;
        padding: 1.5rem 1.5rem 0.5rem;
        align-items: stretch;
    }
    
    main{
        width: calc(100% - 15rem);
    }

    #logo-small{
        display: none;
    }
    
    #logo, #create-playlist, #create-playlist a, #playlists{
        display: block;
    }

    #logo{
        width: 10rem;
        margin-bottom: 2rem;
    }
    
    .sidebar span, .sidebar img{
        display: inline-block;
        vertical-align: middle;
    }
    
    #playlists{
        flex-grow: 1;
        min-height: 100px;
        overflow-y: auto;
    }

    #upper-sidebar .main-menu li{
        margin-bottom: 0.5rem;
    }

    #upper-sidebar{
        margin-bottom: 1.25rem;
    }

    #create-playlist h3{
        margin-bottom: 0.5rem;
    }

    #create-playlist i{
        vertical-align: middle;
        font-size: 3rem;
        margin-right: 0.5rem;
    }

    #create-playlist{
        margin-bottom: 0.75rem;
    }

    #playlists li{
        margin-bottom: 1rem;
    }

    #lower-sidebar .install-app{
        text-align: left;
        border-bottom: 1px solid #A3A3A3;
        padding-bottom: 0.625rem;
        margin-bottom: 1rem;
    }

    #lower-sidebar .pfp img{
        margin-top: 0;
        margin-right: 0.5rem;
    }

    #lower-sidebar .pfp span{
        font-weight: 700;
        color: #fff;
    }
}

/*
********* NORMAL *********
*/

@media screen and (min-width: 768px){

    .main-content .col{
        width: 25%;
    }

    #player .player-song-info{
        margin-right: 2.5rem;
    }
}

/*
********* BIG *********
*/

@media screen and (min-width: 992px){

    .main-content .col{
        width: calc(100% / 6);
    }

    #player .player-controls-down .progress-bar{
        width: 80%;
    }
}