/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Generics */

body{
    font-family: 'Montserrat', sans-serif;
    color: #A3A3A3;
    font-size: 14px;
    font-weight: 600;
}

h2, h3, h4{
    color: #fff;
}

a{
    color: #A3A3A3;
}

/* Utilities */

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.flex{
    display: flex;
}

.w-50{
    width: 50%;
}

.w-20{
    width: 15%;
}

.w-60{
    width: 70%;
}

.w-33{
    width: calc(100% / 3);
}

.g05{
    padding: 0 0.5rem;
}

.btn{
    padding: 0.5rem 2.5rem;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
}

.round{
    border-radius: 50%;
}

.active{
    position: relative;
}

.active::after{
    content: '';
    height: 2px;
    width: 30px;
    background-color: #ADFF2F;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.active-vertical{
    position: relative;
}

.active-vertical::after{
    content: '';
    height: 35px;
    width: 4px;
    background-color: #ADFF2F;

    position: absolute;
    left: -1.5rem;
    top: 50%;
    transform: translate(0, -50%);
}

/* Macro Layout */

.content{
    height: calc(100vh - 6rem);
}

footer{
    height: 6rem;
    width: 100%;
    background-color: #282828;

    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar{
    width: 3.5rem;
    background-color: #000;

    padding: 0.25rem 0 0.75rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    overflow-y: auto;
}

main{
    width: calc(100% - 3.5rem);
    background-color: #141922;
    overflow-y: auto;
}

/* Sidebar */

.sidebar img{
    width: 1.75rem;
}

#logo-small{
    margin-bottom: 0.5rem;
}

#lower-sidebar .install-app{
    text-align: center;
}

#lower-sidebar .install-app img{
    width: 1rem;
}

#lower-sidebar .pfp img{
    width: 2rem;
    height: 2rem;
    background-color: #808080;

    margin-top: 1rem;

    border-radius: 50%;

    object-fit: contain;
}

#logo, #create-playlist, #playlists, .sidebar span{
    display: none;
}

/* Header */

main header{
    height: 6rem;
    background-color: #080B12;
    opacity: 0.7;

    position: sticky;
    top: 0;
    left: 0;
}

main header a{
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
}

/* Main Content */

.main-content{
    padding: 0 1rem;
}

.main-content nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content nav li{
    padding: 0 0.625rem;
    line-height: 3rem;
}

.main-content nav{
    margin-bottom: 1.5rem;
}

.main-content section{
    margin-bottom: 2rem;
}

.main-content .section-title{
    margin-bottom: 1.75rem;
}

.main-content .section-title span{
    display: block;
    padding-top: 0.5rem;
}

.main-content .col{
    margin-bottom: 0.5rem;
}

.main-content .card{
    text-align: center;
}

.main-content .card img{
    width: 100%;
    margin-bottom: 0.75rem;
}

.main-content .card h3{
    margin-bottom: 0.5rem;
}

/* Player */

#player{
    color: #fff;
}

#player .player-song, #player .player-settings{
    padding: 0 1rem;
}

#player, #player .player-song, #player .player-controls-up, #player .player-controls-down, #player .player-settings{
    display: flex;
    align-items: center;
}

#player .player-controls-up, #player .player-controls-down{
    justify-content: center;
}

#player div img{
    width: 2.5rem;
    margin-right: 0.5rem;
}

#player .player-song-info, #player .player-song-icons{
    color: #A3A3A3;
}

#player .player-song-info{
    margin-right: 1rem;
}

#player .player-controls-up{
    margin-bottom: 0.5rem;
}

#player .player-controls-up .fa-shuffle{
    margin-right: 1rem;
}

#player .player-controls-up .fa-circle-play{
    font-size: 1.5rem;
    padding: 0 1.5rem;
}

#player .player-controls-up .fa-rotate-right{
    margin-left: 1rem;
}

#player .player-controls-down{
    justify-content: space-between;
}

#player .progress-bar{
    height: 3px;
    width: 65%;
    background-color: #5A5A5A;
    border-radius: 30px;
}

#player .progress-bar .progress-bar-slider{
    height: 3px;
    width: 30%;
    background-color: #C1C1C1;
    border-radius: 30px;
}

#player .player-controls-down span{
    font-size: 0.625rem;
}

#player .player-settings{
    justify-content: flex-end;
}

#player .volume-bar{
    height: 3px;
    width: 50%;
    max-width: 150px;
    background-color: #5A5A5A;
    border-radius: 30px;
}

#player .volume-bar .volume-bar-slider{
    height: 3px;
    width: 20%;
    background-color: #C1C1C1;
    border-radius: 30px;
}

#player .player-settings i{
    margin-right: 0.5rem;
}